<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
    <title>ProductToCustomer</title>
</head>
<body>
<div class="container" ng-controller="productsForOrderCtrl">
    <h3 ng-model="currentProduct">Список покупателей товара (id: {{currentProduct.id}} title: {{currentProduct.title}})</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td>ID</td>
            <td>Покупатель</td>
        </tr>
        <tbody>
        <tr ng-repeat="c in productToCustomers">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
        </tbody>
    </table>
</div>
</body>
</html>